#land { fill: #b3b3b3; }
.district { fill: #f2f2f2; }
.roads { fill: #666; }
.bridge { fill: #888; stroke-width: 6; stroke: #888; }
.tower { fill: #888; }

svg .middle,
svg .upper {
  visibility: hidden;
}

svg .district.lower,
svg .district.middle
svg .district.upper {
  stroke: #aaa;
  stroke-width: 1;
  visibility: visible;
}

.middle svg .lower,
.middle svg .upper {
  visibility: hidden;
}

.middle svg .middle {
  visibility: visible;
}

.upper svg .lower,
.upper svg .middle {
  visibility: hidden;
}

.upper svg .upper {
  visibility: visible;
}

.central .district.central,
.menthis .district.menthis,
.northedge .district.northedge,
.dura .district.dura,
.tavicks-landing .district.tavicks-landing,
.highest-towers .district.highest-towers,
.korranath .district.korranath,
.korran-thiven .district.korran-thiven,
.mithral-tower .district.mithral-tower,
.platinum-heights .district.platinum-heights,
.skysedge-park .district.skysedge-park,
.ambassador-towers .district.ambassador-towers,
.dava-gate .district.dava-gate,
.dragon-towers .district.dragon-towers,
.sovereign-towers .district.sovereign-towers,
.sword-point .district.sword-point,
.tradefair .district.tradefair,
.boldreis-hearth .district.boldreis-hearth,
.granite-halls .district.granite-halls,
.myshan-gardens .district.myshan-gardens,
.north-towers .district.north-towers,
.olladras-kitchen .district.olladras-kitchen,
.vallia-towers .district.vallia-towers,
.clifftop .district.clifftop,
.daggerwatch .district.daggerwatch,
.highhold .district.highhold,
.highwater .district.highwater,
.hope’s-peak .district.hope’s-peak,
.overlook .district.overlook,
.redstone .district.redstone,
.the-bazaar .district.the-bazaar,
.broken-arch .district.broken-arch,
.hareths-folly .district.hareths-folly,
.rattlestone .district.rattlestone,
.stormhold .district.stormhold,
.tumbledown .district.tumbledown,
.underlook .district.underlook,
.callestan .district.callestan,
.fallen .district.fallen,
.gate-of-gold .district.gate-of-gold,
.malleon’s-gate .district.malleon’s-gate,
.oldkeep .district.oldkeep,
.precarious .district.precarious,
.the-stores .district.the-stores,
.deniyas .district.deniyas,
.ivy-towers .district.ivy-towers,
.seventh-tower .district.seventh-tower,
.platinate .district.platinate,
.university .district.university,
.cassan-bridge .district.cassan-bridge,
.everbright .district.everbright,
.little-plains .district.little-plains,
.smoky-towers .district.smoky-towers,
.warden-towers .district.warden-towers,
.center-bridge .district.center-bridge,
.downstairs .district.downstairs,
.firelight .district.firelight,
.forgelight-towers .district.forgelight-towers,
.torchfire .district.torchfire,
.crystal-bridge .district.crystal-bridge,
.oak-towers .district.oak-towers,
.shae-lias .district.shae-lias,
.high-hope .district.high-hope,
.holdfast .district.holdfast,
.oakbridge .district.oakbridge,
.longstairs .district.longstairs,
.north-market .district.north-market,
.stoneyard .district.stoneyard,
.copper-arch .district.copper-arch,
.dalans-refuge .district.dalans-refuge,
.ocean-view .district.ocean-view,
.pinnacle .district.pinnacle,
.silvergate .district.silvergate,
.sunrise .district.sunrise,
.twelve-pillars .district.twelve-pillars,
.cornerstone .district.cornerstone,
.dancing-shadows .district.dancing-shadows,
.deathsgate .district.deathsgate,
.graywall .district.graywall,
.kenton .district.kenton,
.little-barrington .district.little-barrington,
.tavicks-market .district.tavicks-market,
.black-arch .district.black-arch,
.cogsgate .district.cogsgate,
.dragoneyes .district.dragoneyes,
.foundation .district.foundation,
.high-walls .district.high-walls,
.terminus .district.terminus,
.wroanns-gate .district.wroanns-gate,
.grayflood .district.grayflood,
.mud-caves .district.mud-caves,
.sharns-welcome .district.sharns-welcome,
.ships-towers .district.ships-towers {
  fill: #ffe4e1;
}

.central .tower.central,
.central .roads.central,
.menthis .tower.menthis,
.menthis .roads.menthis,
.northedge .tower.northedge,
.northedge .roads.northedge,
.dura .tower.dura,
.dura .roads.dura,
.tavicks-landing .tower.tavicks-landing,
.tavicks-landing .roads.tavicks-landing,
.korranath .tower.korranath,
.korranath .roads.korranath,
.korran-thiven .tower.korran-thiven,
.korran-thiven .roads.korran-thiven,
.mithral-tower .tower.mithral-tower,
.mithral-tower .roads.mithral-tower,
.platinum-heights .tower.platinum-heights,
.platinum-heights .roads.platinum-heights,
.skysedge-park .tower.skysedge-park,
.skysedge-park .roads.skysedge-park,
.ambassador-towers .tower.ambassador-towers,
.ambassador-towers .roads.ambassador-towers,
.dava-gate .tower.dava-gate,
.dava-gate .roads.dava-gate,
.dragon-towers .tower.dragon-towers,
.dragon-towers .roads.dragon-towers,
.sovereign-towers .tower.sovereign-towers,
.sovereign-towers .roads.sovereign-towers,
.sword-point .tower.sword-point,
.sword-point .roads.sword-point,
.tradefair .tower.tradefair,
.tradefair .roads.tradefair,
.boldreis-hearth .tower.boldreis-hearth,
.boldreis-hearth .roads.boldreis-hearth,
.granite-halls .tower.granite-halls,
.granite-halls .roads.granite-halls,
.myshan-gardens .tower.myshan-gardens,
.myshan-gardens .roads.myshan-gardens,
.north-towers .tower.north-towers,
.north-towers .roads.north-towers,
.olladras-kitchen .tower.olladras-kitchen,
.olladras-kitchen .roads.olladras-kitchen,
.vallia-towers .tower.vallia-towers,
.vallia-towers .roads.vallia-towers,
.clifftop .tower.clifftop,
.clifftop .roads.clifftop,
.daggerwatch .tower.daggerwatch,
.daggerwatch .roads.daggerwatch,
.highhold .tower.highhold,
.highhold .roads.highhold,
.highwater .tower.highwater,
.highwater .roads.highwater,
.hope’s-peak .tower.hope’s-peak,
.hope’s-peak .roads.hope’s-peak,
.overlook .tower.overlook,
.overlook .roads.overlook,
.redstone .tower.redstone,
.redstone .roads.redstone,
.the-bazaar .tower.the-bazaar,
.the-bazaar .roads.the-bazaar,
.broken-arch .tower.broken-arch,
.broken-arch .roads.broken-arch,
.hareths-folly .tower.hareths-folly,
.hareths-folly .roads.hareths-folly,
.rattlestone .tower.rattlestone,
.rattlestone .roads.rattlestone,
.stormhold .tower.stormhold,
.stormhold .roads.stormhold,
.tumbledown .tower.tumbledown,
.tumbledown .roads.tumbledown,
.underlook .tower.underlook,
.underlook .roads.underlook,
.callestan .tower.callestan,
.callestan .roads.callestan,
.fallen .tower.fallen,
.fallen .roads.fallen,
.gate-of-gold .tower.gate-of-gold,
.gate-of-gold .roads.gate-of-gold,
.malleon’s-gate .tower.malleon’s-gate,
.malleon’s-gate .roads.malleon’s-gate,
.oldkeep .tower.oldkeep,
.oldkeep .roads.oldkeep,
.precarious .tower.precarious,
.precarious .roads.precarious,
.the-stores .tower.the-stores,
.the-stores .roads.the-stores,
.deniyas .tower.deniyas,
.deniyas .roads.deniyas,
.ivy-towers .tower.ivy-towers,
.ivy-towers .roads.ivy-towers,
.seventh-tower .tower.seventh-tower,
.seventh-tower .roads.seventh-tower,
.platinate .tower.platinate,
.platinate .roads.platinate,
.university .tower.university,
.university .roads.university,
.cassan-bridge .tower.cassan-bridge,
.cassan-bridge .roads.cassan-bridge,
.everbright .tower.everbright,
.everbright .roads.everbright,
.little-plains .tower.little-plains,
.little-plains .roads.little-plains,
.smoky-towers .tower.smoky-towers,
.smoky-towers .roads.smoky-towers,
.warden-towers .tower.warden-towers,
.warden-towers .roads.warden-towers,
.center-bridge .tower.center-bridge,
.center-bridge .roads.center-bridge,
.downstairs .tower.downstairs,
.downstairs .roads.downstairs,
.firelight .tower.firelight,
.firelight .roads.firelight,
.forgelight-towers .tower.forgelight-towers,
.forgelight-towers .roads.forgelight-towers,
.torchfire .tower.torchfire,
.torchfire .roads.torchfire,
.crystal-bridge .tower.crystal-bridge,
.crystal-bridge .roads.crystal-bridge,
.oak-towers .tower.oak-towers,
.oak-towers .roads.oak-towers,
.shae-lias .tower.shae-lias,
.shae-lias .roads.shae-lias,
.high-hope .tower.high-hope,
.high-hope .roads.high-hope,
.holdfast .tower.holdfast,
.holdfast .roads.holdfast,
.oakbridge .tower.oakbridge,
.oakbridge .roads.oakbridge,
.longstairs .tower.longstairs,
.longstairs .roads.longstairs,
.north-market .tower.north-market,
.north-market .roads.north-market,
.stoneyard .tower.stoneyard,
.stoneyard .roads.stoneyard,
.copper-arch .tower.copper-arch,
.copper-arch .roads.copper-arch,
.dalans-refuge .tower.dalans-refuge,
.dalans-refuge .roads.dalans-refuge,
.ocean-view .tower.ocean-view,
.ocean-view .roads.ocean-view,
.pinnacle .tower.pinnacle,
.pinnacle .roads.pinnacle,
.silvergate .tower.silvergate,
.silvergate .roads.silvergate,
.sunrise .tower.sunrise,
.sunrise .roads.sunrise,
.twelve-pillars .tower.twelve-pillars,
.twelve-pillars .roads.twelve-pillars,
.cornerstone .tower.cornerstone,
.cornerstone .roads.cornerstone,
.dancing-shadows .tower.dancing-shadows,
.dancing-shadows .roads.dancing-shadows,
.deathsgate .tower.deathsgate,
.deathsgate .roads.deathsgate,
.graywall .tower.graywall,
.graywall .roads.graywall,
.kenton .tower.kenton,
.kenton .roads.kenton,
.little-barrington .tower.little-barrington,
.little-barrington .roads.little-barrington,
.tavicks-market .tower.tavicks-market,
.tavicks-market .roads.tavicks-market,
.black-arch .tower.black-arch,
.black-arch .roads.black-arch,
.cogsgate .tower.cogsgate,
.cogsgate .roads.cogsgate,
.dragoneyes .tower.dragoneyes,
.dragoneyes .roads.dragoneyes,
.foundation .tower.foundation,
.foundation .roads.foundation,
.high-walls .tower.high-walls,
.high-walls .roads.high-walls,
.terminus .tower.terminus,
.terminus .roads.terminus,
.wroanns-gate .tower.wroanns-gate,
.wroanns-gate .roads.wroanns-gate,
.grayflood .tower.grayflood,
.grayflood .roads.grayflood,
.mud-caves .tower.mud-caves,
.mud-caves .roads.mud-caves,
.sharns-welcome .tower.sharns-welcome,
.sharns-welcome .roads.sharns-welcome,
.ships-towers .tower.ships-towers,
.ships-towers .roads.ships-towers {
  fill: #ff0000;
}

.controls {
  background: #fff;
  bottom: 2em;
  padding: 2em;
  position: absolute;
  right: 2em;
  z-index: 10;
}

.controls > h2:first-child {
  margin-top: 0;
}

.controls ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.tower.focus {
  fill: #da9100;
}