#land { fill: #b3b3b3; }
.district { fill: #f2f2f2; }
.roads { fill: #666; }
.bridge { fill: #888; stroke-width: 6; stroke: #888; }
.tower { fill: #888; }

svg .middle,
svg .upper {
  visibility: hidden;
}

svg .district {
  stroke: #aaa;
  stroke-width: 1;
  visibility: visible;
}

svg.middle .lower,
svg.middle .upper {
  visibility: hidden;
}

svg.middle .middle {
  visibility: visible;
}

svg.upper .lower,
svg.upper .middle {
  visibility: hidden;
}

svg.upper .upper {
  visibility: visible;
}

svg.central .district.central,
svg.menthis .district.menthis,
svg.northedge .district.northedge,
svg.dura .district.dura,
svg.tavicks-landing .district.tavicks-landing,
svg.highest-towers .district.highest-towers,
svg.korranath .district.korranath,
svg.korran-thiven .district.korran-thiven,
svg.mithral-tower .district.mithral-tower,
svg.platinum-heights .district.platinum-heights,
svg.skysedge-park .district.skysedge-park,
svg.ambassador-towers .district.ambassador-towers,
svg.dava-gate .district.dava-gate,
svg.dragon-towers .district.dragon-towers,
svg.sovereign-towers .district.sovereign-towers,
svg.sword-point .district.sword-point,
svg.tradefair .district.tradefair,
svg.boldreis-hearth .district.boldreis-hearth,
svg.granite-halls .district.granite-halls,
svg.myshan-gardens .district.myshan-gardens,
svg.north-towers .district.north-towers,
svg.olladras-kitchen .district.olladras-kitchen,
svg.vallia-towers .district.vallia-towers,
svg.clifftop .district.clifftop,
svg.daggerwatch .district.daggerwatch,
svg.highhold .district.highhold,
svg.highwater .district.highwater,
svg.hope’s-peak .district.hope’s-peak,
svg.overlook .district.overlook,
svg.redstone .district.redstone,
svg.the-bazaar .district.the-bazaar,
svg.broken-arch .district.broken-arch,
svg.hareths-folly .district.hareths-folly,
svg.rattlestone .district.rattlestone,
svg.stormhold .district.stormhold,
svg.tumbledown .district.tumbledown,
svg.underlook .district.underlook,
svg.callestan .district.callestan,
svg.fallen .district.fallen,
svg.gate-of-gold .district.gate-of-gold,
svg.malleon’s-gate .district.malleon’s-gate,
svg.oldkeep .district.oldkeep,
svg.precarious .district.precarious,
svg.the-stores .district.the-stores,
svg.deniyas .district.deniyas,
svg.ivy-towers .district.ivy-towers,
svg.seventh-tower .district.seventh-tower,
svg.platinate .district.platinate,
svg.university .district.university,
svg.cassan-bridge .district.cassan-bridge,
svg.everbright .district.everbright,
svg.little-plains .district.little-plains,
svg.smoky-towers .district.smoky-towers,
svg.warden-towers .district.warden-towers,
svg.center-bridge .district.center-bridge,
svg.downstairs .district.downstairs,
svg.firelight .district.firelight,
svg.forgelight-towers .district.forgelight-towers,
svg.torchfire .district.torchfire,
svg.crystal-bridge .district.crystal-bridge,
svg.oak-towers .district.oak-towers,
svg.shae-lias .district.shae-lias,
svg.high-hope .district.high-hope,
svg.holdfast .district.holdfast,
svg.oakbridge .district.oakbridge,
svg.longstairs .district.longstairs,
svg.north-market .district.north-market,
svg.stoneyard .district.stoneyard,
svg.copper-arch .district.copper-arch,
svg.dalans-refuge .district.dalans-refuge,
svg.ocean-view .district.ocean-view,
svg.pinnacle .district.pinnacle,
svg.silvergate .district.silvergate,
svg.sunrise .district.sunrise,
svg.twelve-pillars .district.twelve-pillars,
svg.cornerstone .district.cornerstone,
svg.dancing-shadows .district.dancing-shadows,
svg.deathsgate .district.deathsgate,
svg.graywall .district.graywall,
svg.kenton .district.kenton,
svg.little-barrington .district.little-barrington,
svg.tavicks-market .district.tavicks-market,
svg.black-arch .district.black-arch,
svg.cogsgate .district.cogsgate,
svg.dragoneyes .district.dragoneyes,
svg.foundation .district.foundation,
svg.high-walls .district.high-walls,
svg.terminus .district.terminus,
svg.wroanns-gate .district.wroanns-gate,
svg.grayflood .district.grayflood,
svg.mud-caves .district.mud-caves,
svg.sharns-welcome .district.sharns-welcome,
svg.ships-towers .district.ships-towers {
  fill: #ffe4e1;
}

svg.central .tower.central,
svg.central .roads.central,
svg.menthis .tower.menthis,
svg.menthis .roads.menthis,
svg.northedge .tower.northedge,
svg.northedge .roads.northedge,
svg.dura .tower.dura,
svg.dura .roads.dura,
svg.tavicks-landing .tower.tavicks-landing,
svg.tavicks-landing .roads.tavicks-landing,
svg.korranath .tower.korranath,
svg.korranath .roads.korranath,
svg.korran-thiven .tower.korran-thiven,
svg.korran-thiven .roads.korran-thiven,
svg.mithral-tower .tower.mithral-tower,
svg.mithral-tower .roads.mithral-tower,
svg.platinum-heights .tower.platinum-heights,
svg.platinum-heights .roads.platinum-heights,
svg.skysedge-park .tower.skysedge-park,
svg.skysedge-park .roads.skysedge-park,
svg.ambassador-towers .tower.ambassador-towers,
svg.ambassador-towers .roads.ambassador-towers,
svg.dava-gate .tower.dava-gate,
svg.dava-gate .roads.dava-gate,
svg.dragon-towers .tower.dragon-towers,
svg.dragon-towers .roads.dragon-towers,
svg.sovereign-towers .tower.sovereign-towers,
svg.sovereign-towers .roads.sovereign-towers,
svg.sword-point .tower.sword-point,
svg.sword-point .roads.sword-point,
svg.tradefair .tower.tradefair,
svg.tradefair .roads.tradefair,
svg.boldreis-hearth .tower.boldreis-hearth,
svg.boldreis-hearth .roads.boldreis-hearth,
svg.granite-halls .tower.granite-halls,
svg.granite-halls .roads.granite-halls,
svg.myshan-gardens .tower.myshan-gardens,
svg.myshan-gardens .roads.myshan-gardens,
svg.north-towers .tower.north-towers,
svg.north-towers .roads.north-towers,
svg.olladras-kitchen .tower.olladras-kitchen,
svg.olladras-kitchen .roads.olladras-kitchen,
svg.vallia-towers .tower.vallia-towers,
svg.vallia-towers .roads.vallia-towers,
svg.clifftop .tower.clifftop,
svg.clifftop .roads.clifftop,
svg.daggerwatch .tower.daggerwatch,
svg.daggerwatch .roads.daggerwatch,
svg.highhold .tower.highhold,
svg.highhold .roads.highhold,
svg.highwater .tower.highwater,
svg.highwater .roads.highwater,
svg.hope’s-peak .tower.hope’s-peak,
svg.hope’s-peak .roads.hope’s-peak,
svg.overlook .tower.overlook,
svg.overlook .roads.overlook,
svg.redstone .tower.redstone,
svg.redstone .roads.redstone,
svg.the-bazaar .tower.the-bazaar,
svg.the-bazaar .roads.the-bazaar,
svg.broken-arch .tower.broken-arch,
svg.broken-arch .roads.broken-arch,
svg.hareths-folly .tower.hareths-folly,
svg.hareths-folly .roads.hareths-folly,
svg.rattlestone .tower.rattlestone,
svg.rattlestone .roads.rattlestone,
svg.stormhold .tower.stormhold,
svg.stormhold .roads.stormhold,
svg.tumbledown .tower.tumbledown,
svg.tumbledown .roads.tumbledown,
svg.underlook .tower.underlook,
svg.underlook .roads.underlook,
svg.callestan .tower.callestan,
svg.callestan .roads.callestan,
svg.fallen .tower.fallen,
svg.fallen .roads.fallen,
svg.gate-of-gold .tower.gate-of-gold,
svg.gate-of-gold .roads.gate-of-gold,
svg.malleon’s-gate .tower.malleon’s-gate,
svg.malleon’s-gate .roads.malleon’s-gate,
svg.oldkeep .tower.oldkeep,
svg.oldkeep .roads.oldkeep,
svg.precarious .tower.precarious,
svg.precarious .roads.precarious,
svg.the-stores .tower.the-stores,
svg.the-stores .roads.the-stores,
svg.deniyas .tower.deniyas,
svg.deniyas .roads.deniyas,
svg.ivy-towers .tower.ivy-towers,
svg.ivy-towers .roads.ivy-towers,
svg.seventh-tower .tower.seventh-tower,
svg.seventh-tower .roads.seventh-tower,
svg.platinate .tower.platinate,
svg.platinate .roads.platinate,
svg.university .tower.university,
svg.university .roads.university,
svg.cassan-bridge .tower.cassan-bridge,
svg.cassan-bridge .roads.cassan-bridge,
svg.everbright .tower.everbright,
svg.everbright .roads.everbright,
svg.little-plains .tower.little-plains,
svg.little-plains .roads.little-plains,
svg.smoky-towers .tower.smoky-towers,
svg.smoky-towers .roads.smoky-towers,
svg.warden-towers .tower.warden-towers,
svg.warden-towers .roads.warden-towers,
svg.center-bridge .tower.center-bridge,
svg.center-bridge .roads.center-bridge,
svg.downstairs .tower.downstairs,
svg.downstairs .roads.downstairs,
svg.firelight .tower.firelight,
svg.firelight .roads.firelight,
svg.forgelight-towers .tower.forgelight-towers,
svg.forgelight-towers .roads.forgelight-towers,
svg.torchfire .tower.torchfire,
svg.torchfire .roads.torchfire,
svg.crystal-bridge .tower.crystal-bridge,
svg.crystal-bridge .roads.crystal-bridge,
svg.oak-towers .tower.oak-towers,
svg.oak-towers .roads.oak-towers,
svg.shae-lias .tower.shae-lias,
svg.shae-lias .roads.shae-lias,
svg.high-hope .tower.high-hope,
svg.high-hope .roads.high-hope,
svg.holdfast .tower.holdfast,
svg.holdfast .roads.holdfast,
svg.oakbridge .tower.oakbridge,
svg.oakbridge .roads.oakbridge,
svg.longstairs .tower.longstairs,
svg.longstairs .roads.longstairs,
svg.north-market .tower.north-market,
svg.north-market .roads.north-market,
svg.stoneyard .tower.stoneyard,
svg.stoneyard .roads.stoneyard,
svg.copper-arch .tower.copper-arch,
svg.copper-arch .roads.copper-arch,
svg.dalans-refuge .tower.dalans-refuge,
svg.dalans-refuge .roads.dalans-refuge,
svg.ocean-view .tower.ocean-view,
svg.ocean-view .roads.ocean-view,
svg.pinnacle .tower.pinnacle,
svg.pinnacle .roads.pinnacle,
svg.silvergate .tower.silvergate,
svg.silvergate .roads.silvergate,
svg.sunrise .tower.sunrise,
svg.sunrise .roads.sunrise,
svg.twelve-pillars .tower.twelve-pillars,
svg.twelve-pillars .roads.twelve-pillars,
svg.cornerstone .tower.cornerstone,
svg.cornerstone .roads.cornerstone,
svg.dancing-shadows .tower.dancing-shadows,
svg.dancing-shadows .roads.dancing-shadows,
svg.deathsgate .tower.deathsgate,
svg.deathsgate .roads.deathsgate,
svg.graywall .tower.graywall,
svg.graywall .roads.graywall,
svg.kenton .tower.kenton,
svg.kenton .roads.kenton,
svg.little-barrington .tower.little-barrington,
svg.little-barrington .roads.little-barrington,
svg.tavicks-market .tower.tavicks-market,
svg.tavicks-market .roads.tavicks-market,
svg.black-arch .tower.black-arch,
svg.black-arch .roads.black-arch,
svg.cogsgate .tower.cogsgate,
svg.cogsgate .roads.cogsgate,
svg.dragoneyes .tower.dragoneyes,
svg.dragoneyes .roads.dragoneyes,
svg.foundation .tower.foundation,
svg.foundation .roads.foundation,
svg.high-walls .tower.high-walls,
svg.high-walls .roads.high-walls,
svg.terminus .tower.terminus,
svg.terminus .roads.terminus,
svg.wroanns-gate .tower.wroanns-gate,
svg.wroanns-gate .roads.wroanns-gate,
svg.grayflood .tower.grayflood,
svg.grayflood .roads.grayflood,
svg.mud-caves .tower.mud-caves,
svg.mud-caves .roads.mud-caves,
svg.sharns-welcome .tower.sharns-welcome,
svg.sharns-welcome .roads.sharns-welcome,
svg.ships-towers .tower.ships-towers,
svg.ships-towers .roads.ships-towers {
  fill: #ff0000;
}